<!DOCTYPE htmal>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por suscribirte</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='caa/styles.css')}}">
</head>
<body>
    <nav>
        <button onclick="window.location.href='/'">inicio</button>
    <nav>
    <div>
        <h1>¡Gracias por suscribirte</h1>
        <p>Te hemos añadido a nuestra lista de correo. Pronto recibirás actualizaciones sobre los descubrimientos del telescopio James Webb.</p>
    </div>
</body>
</html>